@{
    ViewData["Title"] = "Submission Success";
}
@model string
<div class="text-center">
    <h2 class="text-success">Success!</h2>
    <p>
        Your submission was created successfully.
    </p>
    <a href="@Model">View your Submission Folder.</a>
</div>
