@using DocRouter.Application.Users.Queries.GetUserInfo;
@model UserInfoVm
<strong>
    User Info:
</strong>
<div class="mt-2 text-muted">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <small> @Model.DisplayName</small>
</div>
<div class="mt-2 text-muted">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <small> @Model.Email</small>
</div>
<div class="mt-2 text-muted">
    <i class="fa fa-id-card-o" aria-hidden="true"></i>
    <small> @Model.UserId</small>
</div>
<hr />